body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  text-align: center;

}

.container-fluid {
  padding: 25px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
 
  width: 700px;  /* added styling */
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.time-block{
  text-align: center;
  border-radius: 15px;  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
  display: flex;   /* added styling */
}

.hour {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: teal;
  color: white;
  padding-right: 30px;   /* added styling */
  padding-left: 30px;
}

.past {
  background-color: #fc6b947d;
  color: black;
}

.present {
  background-color: #b7b7b795;
  color: black;
}

.future {
  background-color: #03efcf5e;
  color: black;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: teal;
  color: white;
  padding-right: 30px;   /* added styling */
  padding-left: 30px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
#currentDay { 

  font-size: 42px;

  color: teal;
}